
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmationSent</title>
</head>
<body>
    <div> 
        <h2>Thanks for confirming your email!</h2>
    </div>
</body>
</html>
